
body {
  font-family: 'Arial', sans-serif;
  padding: 0; 
  background-color: rgb(248, 227, 201);
  color: rgb(82, 42, 42); 
  line-height: 1.6;
}

header, footer {
  background-color: #2c3e50; 
  color: white; 
  padding: 1em; 
  text-align: center; 
}


ul {
  list-style: none; 
  display: flex; 
  justify-content: center; 
  gap: 1em; 
  margin-top: 10px; 
}


nav ul li a {
  text-decoration: none; 
  color: white; 
  font-size: 20px;
}


section {
  margin: 0 0 30px; 
}


p {
  font-size: 16px; 
}

 */
div.box p {
  background-color: #f0f8ff; 
  border-left: 10px solid #3498db;
  padding: 10px; 
  color: #2c3e50; 
}

a:link {
  color: #3498db; 
}

a:visited {
  color: #7f8c8d; 
}


a:hover {
  color: #e74c3c; 
  text-decoration: underline; 
}


a:active {
  color: #27ae60; 
}


ol li:first-child {
  color: #6e7f2e; 
  font-weight: bold; 
}

ol li:last-child {
  color: #8e44ad; 
}

ol li:nth-child(2) {
  font-style: italic; 
}

.stylerank ul {
  display: flex;
  flex-direction: row; 
  gap: 5em; 
}

#ani {
  width: 15px; 
  height: 15px; 
  background: red; 
  position: relative; 
  animation: mymove 5s infinite; 
  animation-timing-function: linear; 
}

@keyframes mymove {
  from { left: 0px; } 
  to { left: 1000px; } 
}

.responsive {
  background-color: #ecf1f1; 
  padding: 15px; 
  margin: 20px; 
  transition: background-color 3s ease-in; 
}

@media screen and (max-width: 1200px) {
  .responsive {
    background-color: #ffeaa7;
  }

  header h1 {
    font-size: 1.5em;
  }
}
.search {
  width: 300px;
  height: 100px;
}
.search input {
  width: 80%;
  height: 30px;
  font-size: 18px;
  border: none;
  border-bottom: 1px black solid;
}

.search button {
  font-size: 18px;
  border: none;
  background-color: green;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
}
